.shop{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #0967d2;
    color: white;
    font-weight: 600;
    border-radius: 8px;
}
.home-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}
.shop-img-container{
    height: 100%;
}
.shop-img{
    height: 100%;
}
.home-sub{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h1{
    font-size: 50px;
    margin-bottom: 0;
    font-family: roboto;
}
.para{
    font-family: roboto;
    color: #64748b;
    line-height: 1.5;
}
.shop-img-md{
    display: none;
}
@media (max-width:768px){
    .shop-img{
        height: 100%;
        display:none;
    }
    .home-sub{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .shop-img-md{
        width: 40%;
        display: block;
    }
    .home-container{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 500px;
    }
    .shop{
        width: 50%;
        height: 300px;
        border: none;
        background-color: #0967d2;
        color: white;
        font-weight: 600;
        border-radius: 8px;
    }
}